<div class="about row">
    <div class="col-md-12">
       <h2>About MyBlog </h2>
        <br/>
        <p>Hello everyone,我是于无声处这是我的个人博客。</p>
		<p>目前我是一名奋斗在一线的程序员，平时喜欢在我的博客分享一些技术专题。</p>
        <p>当然不管生活多么忙碌，我也喜欢抽空来这里分享生活感悟。</p>
        <p>我的博客起名于无声处，这一词来自鲁迅先生创作的七绝《无题》诗。</p>
		<p>"万家墨面没蒿莱，敢有歌吟动地哀。心事浩茫连广宇，于无声处听惊雷"</P>
        <p>我们每个人在生活中都无声无息，书写着自己的人生轨迹，或平凡、或伟大。</p>
        <p>时光流逝，容颜易老，我们何不笑看风云。</p>
        <p>我喜欢结交朋友，希望有志同道合的朋友一起讨论技术，品悟人生！</p>
        <p>我是于无声处，一个仍然在路上，向往自由和梦想的人！</p>


        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>微博<a href="{{ site.weibo_url }}">{{ site.weibo_url }}</a></li>
            <li>我的微信：<strong>wxykke</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>

        <p><em>技术交流QQ群，入群（<strong>92383859</strong>）交流IT人的技术与生活</em></p>



       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以赞赏我8.88元，请我吃个肉夹馍 :)
       </p>

       <p align="center">

       <img src="{{ site.url }}assets/images/wechat_pay.png" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>